.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/编程教程.iml
.idea/misc.xml
.idea/modules.xml
.idea/.gitignore
# 忽略IDE配置
.idea/
.vscode/
*.iml
VSCode/

# ===================== 只忽略Python的垃圾文件（必须忽略的） =====================
# 忽略Python缓存文件夹，所有目录下的__pycache__都忽略
Python/
__pycache__/
# 忽略Python编译的二进制文件，垃圾文件
*.py[cod]
*$py.class
# 忽略Python的日志/临时文件
*.log
*.tmp


# ===================== 重点！！！强制放行你的目标文件夹 + 所有子内容 =====================
# 永远不忽略你的大文件夹
!Python算法/
# 永远不忽略你要提交的目标小文件夹 + 里面所有文件/子文件夹
!Python算法/机器学习实践项目(自做)/
!Python算法/机器学习实践项目(自做)/*
# 小文件夹里的所有子文件夹也强制放行（防止里面还有子目录）
!Python算法/机器学习实践项目(自做)/**/*
# 忽略其他无关文件夹
Flask学习和Apifox的使用/
PyCharm Community Edition 2023.3.1/
Tableau/
入学礼包（书籍+软件资料包）/
计算机视觉/
计算机维护/
华算Alphinity/
机器学习选题/
Python算法/机器学习实践项目(自做)/.ipynb_checkpoints/
# 忽略系统文件
.DS_StoreS
Thumbs.db

